<ion-header [translucent]="true">
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>
		<ion-icon name="settings"></ion-icon> 
		User Settings
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-item fill="solid" class="ion-margin-bottom">
		<div class="outer">
			<div class="profile-img">
				<ion-icon name="person" *ngIf="!this.userSettings.value.img" class="icon-img"></ion-icon>
				<ion-img [src]="this.userSettings.value.img" *ngIf="this.userSettings.value.img"></ion-img>
			</div>
			<button class="inner" (click)="uploadPhoto()">
				<ion-icon name="camera" size="large"></ion-icon>
			</button>
		</div>
	</ion-item>
  	<form (ngSubmit)="save()" [formGroup]="userSettings">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="text" placeholder="First Name" formControlName="firstName" (ionChange)="enableButton()"></ion-input>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="text" placeholder="Last Name" formControlName="lastName" (ionChange)="enableButton()"></ion-input>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-select placeholder="Select User Role" formControlName="role" (ionChange)="enableButton()">
				<ion-select-option value="normal">Normal</ion-select-option>
				<ion-select-option value="operator">Operator</ion-select-option>
			</ion-select>
		</ion-item>
    <ion-button type="submit" expand="block" color="secondary" [disabled]="this.buttonDisable">Update User</ion-button>
  </form>
</ion-content>
