<app-header title="Incidents List"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incidents List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item fill="solid" class="container-selector">
    <ion-select placeholder="Select container name" formControlName="containerId" (ionChange)="containerSelection($event.target.value)" #select>
      <ion-select-option *ngFor="let container of containers" [value]="container.id">{{container.name}}</ion-select-option>
    </ion-select>
    <ion-button
      *ngIf="select?.value !== undefined"
      (click)="clear()"
      size="small"
      fill="clear"
      color="medium"
    >
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>

    @for (incident of incidents; track $index){
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{incident.type}}
            <div *ngIf="operator || userId === incident.userId" class="buttons-container">
              <ion-button shape="round" size="small" fill="clear" color="dark" (click)="editIncident(incident.id!)">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
              </ion-button>
              <ion-button shape="round" size="small" fill="clear" color="dark" (click)="removeIncident(incident.id!)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </ion-card-title>
          <ion-card-subtitle>Created By: {{incident.userId}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Description: {{incident.description}}<br>
          Creation Date: {{incident.description}}<br>
          <ion-grid>
            <ion-row>
              <ion-col class="photo-item" size="4" *ngFor="let image of incident.images; index as position">
                <ion-img [src]="image"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    }

  </ion-list>
</ion-content>