<ion-content [fullscreen]="true">
	<div class="logo">
		<img src="/assets/fullLogo.png">
	</div>
	<form (ngSubmit)="login()" [formGroup]="credentials">
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
		</ion-item>
		<ion-item fill="solid" class="ion-margin-bottom">
			<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
		</ion-item>

		<ion-button type="submit" expand="block" [disabled]="!credentials.valid" color="secondary">Log in</ion-button>
		<p>Or register <a href="/register">here</a></p>
	</form>
</ion-content>
